<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <material name="light grey">
    <color rgba="0.4 0.4 0.4 1.0"/>
  </material>

  <material name="white">
    <color rgba="1.0 1.0 1.0 1.0"/>
  </material>

  <material name="dark grey">
    <color rgba="0.2 0.2 0.2 1.0"/>
  </material>

</robot>
