<?xml version="1.0"?>

<robot name="wheeled_inverted_pendulum" xmlns:xacro="http://www.ros.org/wiki/xacro">

        <xacro:include filename="$(find cmg_robot_description)/urdf/cmg.urdf.xacro" />
	    <xacro:include filename="$(find cmg_robot_description)/urdf/robot_transmission.xacro" />
	    <xacro:include filename="$(find cmg_robot_description)/urdf/robot_body.urdf.xacro" />

        <xacro:macro name="robot">

		   
	    <xacro:robot/>

        <gazebo>
            <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
                <controlPeriod>0.001</controlPeriod>
                <robotNamespace>/wheeled_inverted_pendulum</robotNamespace>
                <!-- <jointName>wheel_joint, Left_flywheel_joint, Right_flywheel_joint, Left_gimbal_joint, Right_gimbal_joint </jointName> -->
                <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
                <legacyModeNS>true</legacyModeNS>
            </plugin>
        </gazebo>

</robot>
